/*//change the down side color*/
.header {
  background-color: #B05856;
  background-size: 80px 40px;
  display: block;
  background-position:95% 85%;
  background-image: url("./Processing label.png");
  color: white;
}

